body {
    font-family: "Open Sans";
    background-color: #1abc9c;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#abovefold {
    height: 430px;
    background-color: #1abc9c;
}

#abovefold-container {
    max-width: 600px;
    margin: 30px auto;
}

#belowfold {
    background-color: white;
    border-bottom: 1px solid #dfe2e3;
    display: block;
}

#belowfold-container {
    margin: 25px 20%;
    padding-top:50px;
    padding-bottom:20px;
}

.third
{
    float:left; width:150px; margin-right:20%;
}

#explainer {
    background-color: white;
    border-bottom: 1px solid #dfe2e3;
    display:block;
}
#explainer-container {
    margin: 25px 20%;
    padding-top:20px;
    padding-bottom:20px;
    width: 90%;
    height: 220px;
}

.second {
    float:left;   
    margin-right: 10%;
    width:400px;
}
ul {
    list-style: none;
}


#footer {
    background-color: #16a085;
    height:100px;
}

#footer-container {
    width: 90%;
    margin: 0 1%;
    padding-top: 1%;
}

#leftdiv {

    color: white;
    font-weight: lighter;
    font-style: normal;
    width:105px;
    float:left;
    margin-left: 60px;
}

#rightdiv {
    width: 400px;
    float:right;
}

#title h1 {
	color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 37px;  
    margin-bottom: 40px;
    padding-top: 20px;
}
#login-name {
    cursor: auto; 
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); 
    background-attachment: scroll; 
    background-position: 100% 50%; 
    background-repeat: no-repeat;
}
#login-pass {
    cursor: auto; 
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); 
    background-attachment: scroll; 
    background-position: 100% 50%; 
    background-repeat: no-repeat;
}
.btn {
    margin-top: 25px;
}
